.buttonHolder {
    text-align: center
}

.remove-btn {
margin-right: 0.5rem;
}

.item-enter {
opacity: 0;
}
.item-enter-active {
opacity: 1;
transition: opacity 500ms ease-in;
}
.item-exit {
opacity: 1;
}
.item-exit-active {
opacity: 0;
transition: opacity 500ms ease-in;
}

.image-container {
    transform: scale(0.5);
    /* object-fit: cover; */
    border: 2px solid black;
    /* overflow: hidden; */
  }
  
/* .player-wrapper {
width: auto; 
height: auto; 
} */
/* .react-player {
padding-top: 56.25%; 
position: relative;
} */

/* .react-player > div {
position: absolute;
} */

.mar {
    margin: 100px
}